.centered{
    padding-left: 15px;		
    padding-right: 5px;
}
.centered3{
    padding-top: 230px;	
    padding-right: 100px;
}
.text-padding{
    padding-left: 130px;
}
.btn{
    display: inline-block;
}
.light-green{
    color:#0BCC8B;
}
.custompic{
    width: 100%;
    height: 400px;
    background-image: url("/images/lambo.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
   /* border: 1px solid red;*/
  }